@(txGroups: Seq[model.TransactionGroup])

<!DOCTYPE html>

<html>
<head>
    <title>Transaction Groups</title>
</head>
<body>
<table>
    @for(group <- txGroups){
    <tr>
        <td>@group.name</td>
        <td/>
        <td/>
    </tr>
    <tr>
        <td/>
        <td>Deposits</td>
        <td>@group.depositSum</td>
    </tr>
    <tr>
        <td/>
        <td>Expenses</td>
        <td>@group.expenseSum</td>
    </tr>
    <tr>
        <td/>
        <td>Difference</td>
        <td>@group.totalSum</td>
    </tr>
    }
</table>
</body>
</html>
