@(summary: model.Summary)

<!DOCTYPE html>

<html>
<head>
    <title>Summary</title>
</head>
<body>
<p>@summary.startDate</p>
<p>@summary.endDate</p>
<p>@summary.lastTransactionDate</p>
<table>
    @for(tx <- summary.transactions){
    <tr>
        <td>@tx.date</td>
        <td>@tx.description</td>
        <td>@tx.amount</td>
    </tr>
    }
</table>
<table>
    @for(categorySummary <- summary.categorySummaries){
    <tr>
        <td>@categorySummary.category</td>
        <td>@categorySummary.amount</td>
    </tr>
    }
</table>
</body>
</html>
