@(summary: model.Summary)
@import org.joda.time.format.DateTimeFormat
@defining((DateTimeFormat.forPattern("EEE dd MMM yyyy"), DateTimeFormat.forPattern("yyyyMMdd"))) { (dateFormatter, dateParamFormatter) =>

<!DOCTYPE html>

<html>
<head>
    <title>Summary</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")" />
</head>
<body>
<p>@dateFormatter.print(summary.startDate)</p>
<p>@dateFormatter.print(summary.endDate)</p>
<p>@dateFormatter.print(summary.lastTransactionDate.get)</p>
<table>
    @for(tx <- summary.transactions){
    <tr>
        <td>@dateFormatter.print(tx.date)</td>
        <td>@tx.description</td>
        <td>@tx.category</td>
        <td>@tx.amount</td>
    </tr>
    }
</table>
<table>
    @for(categorySummary <- summary.categorySummaries){
    <tr>
        <td><a href="@routes.Application.category(categorySummary.category, None, None, None)">@categorySummary.category</a></td>
        <td>@categorySummary.currentAmount</td>
        <td>@categorySummary.difference</td>
        <td>@categorySummary.percentageDifference</td>
        <td>@categorySummary.yearDifference</td>
        <td>@categorySummary.percentageYearDifference</td>
    </tr>
    }
</table>
<p>@summary.paymentsTotalAmount</p>
<p>@summary.depositsTotalAmount</p>
<p>@summary.difference</p>
<p>@summary.differencePreviousMonth</p>
<p>@summary.percentageDifferencePreviousMonth</p>
<p>@summary.differencePreviousYear</p>
<p>@summary.percentageDifferencePreviousYear</p>
</body>
</html>
}
