@(summary: model.Summary)
@import org.joda.time.format.DateTimeFormat

@present(diff: model.Difference) = {
<td>@if(diff.isIncrease) {
  <span class="glyphicon glyphicon-arrow-up" style="color : green">} else {
    @if(diff.isDecrease) {
      <span class="glyphicon glyphicon-arrow-down" style="color : red">} else {
        <span class="glyphicon glyphicon-minus" style="color : #FFBF00">}
      } £@("%.2f".format(diff.absolute))
    (@diff.percentage%)</span></td>
}

@defining(DateTimeFormat.forPattern("EEE dd MMM yyyy")) { dateFormatter =>
    @defining(DateTimeFormat.forPattern("yyyyMMdd")) { dateParamFormatter =>

    <!DOCTYPE html>

        <html>
            <head>
                <title>Summary</title>
                <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")" />
            </head>
            <body>
                <p><b>@dateFormatter.print(summary.startDate) &mdash; @dateFormatter.print(summary.endDate)</b><br/>
                    Last transaction: @summary.lastTransactionDate.map { date => @dateFormatter.print(date)}</p>
                <table class="table table-striped table-condensed">
                    @for(categorySummary <- summary.categorySummaries) {
                        <tr>
                            <td><a href="@routes.Application.category(categorySummary.category, Some(dateParamFormatter.print(summary.startDate)), Some(dateParamFormatter.print(summary.endDate)), None)">@categorySummary.category</a></td>
                            <td>@categorySummary.amount.currentPeriod</td>
                            <td>*@categorySummary.amount.previousPeriod*</td>
                            <td>**@categorySummary.amount.periodYearAgo**</td>
                            @present(categorySummary.amount.differenceInPreviousPeriod)
                            @present(categorySummary.amount.differenceInSamePeriodLastYear)
                        </tr>
                    }
                    <tr>
                        <td>Total Payments</td>
                        <td>@summary.allPayments.currentPeriod</td>
                        <td>*@summary.allPayments.previousPeriod*</td>
                        <td>**@summary.allPayments.periodYearAgo**</td>
                        @present(summary.allPayments.differenceInPreviousPeriod)
                        @present(summary.allPayments.differenceInSamePeriodLastYear)
                    <tr>
                        <td>Total Deposits</td>
                        <td>@summary.allDeposits.currentPeriod</td>
                        <td>@summary.allDeposits.differenceInPreviousPeriod.absolute
                            (@summary.allDeposits.differenceInPreviousPeriod.percentage%)</td>
                        <td>@summary.allDeposits.differenceInSamePeriodLastYear.absolute
                            (@summary.allDeposits.differenceInSamePeriodLastYear.percentage%)</td>
                    </tr>
                    <tr>
                        <td>Total Difference</td>
                        <td>@summary.total.currentPeriod</td>
                        <td>@summary.total.differenceInPreviousPeriod.absolute (@summary.total.differenceInPreviousPeriod.percentage%)</td>
                        <td>@summary.total.differenceInSamePeriodLastYear.absolute (@summary.total.differenceInSamePeriodLastYear.percentage%)</td>
                    </tr>
                    <tr>
                        <td>Total Income</td>
                        <td>@summary.income.currentPeriod</td>
                        <td>@summary.income.differenceInPreviousPeriod.absolute (@summary.income.differenceInPreviousPeriod.percentage%)</td>
                        <td>@summary.income.differenceInSamePeriodLastYear.absolute (@summary.income.differenceInSamePeriodLastYear.percentage%)</td>
                    </tr>
                    <tr>
                        <td>Total Outgoings</td>
                        <td>@summary.outgoings.currentPeriod</td>
                        <td>@summary.outgoings.differenceInPreviousPeriod.absolute
                            (@summary.outgoings.differenceInPreviousPeriod.percentage%)</td>
                        <td>@summary.outgoings.differenceInSamePeriodLastYear.absolute
                            (@summary.outgoings.differenceInSamePeriodLastYear.percentage%)</td>
                    </tr>
                    <tr>
                        <td>Total Change</td>
                        <td>@summary.relevantTotal.currentPeriod</td>
                        <td>@summary.relevantTotal.differenceInPreviousPeriod.absolute
                            (@summary.relevantTotal.differenceInPreviousPeriod.percentage%)</td>
                        <td>@summary.relevantTotal.differenceInSamePeriodLastYear.absolute
                            (@summary.relevantTotal.differenceInSamePeriodLastYear.percentage%)</td>
                    </tr>
                </table>
            </body>
        </html>
    }
}
