@(transactions: Seq[model.Transaction])

<!DOCTYPE html>

<html>
<head>
    <title>Transactions</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")" />
</head>
<body>
<table>
    @for(tx <- transactions){
    <tr>
        <td>@tx.date</td>
        <td>@tx.category.map { cat => <a href="@routes.Application.category(cat, None, None, None)">@tx.category</a>}
        </td>
        <td>@tx.subcategory.map { subcat => <a
                href="@routes.Application.subcategory(tx.category.get, subcat, None, None, None)">@tx.subcategory</a>}
        </td>
        <td><a href="@routes.Application.description(tx.description, None, None, None)">@tx.description</a></td>
        <td>@tx.amount</td>
    </tr>
    }
</table>
</body>
</html>
